<div class="row">
  <div class="col-md-6 offset-md-3" >
    <h1>
      <%= @user.username %>
    </h1>

    <%= render "users/user_tabs" %>


    </div>
  </div>

    <%= current_user.leaders.count %>

<div class="list-group">
  <% current_user.leaders.each do |user|%>
      <%= link_to "#{user.username}", user_path(user.username), class: "list-group-item list-group-item-action" %>
  <% end %>
</div>
